@font-face { font-family: helvetica; src: url('/fonts/Helvetica.ttf'); } 
#splash{
	background: #1565c0;
	height: 100%;
	width: 100%;
}
#splash_img{
	height: 100%;
	width: auto;	
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
        font-family: Ubuntu;
}



#diet_calculator{
	height: 100%;
	background: #e0e0e0;
	
}
#header_diet{
	height: 8%;
	background: #27ae60;
	box-shadow: 5px 5px 5px 5px black;
        padding-left: 3%;
        padding-bottom: -4%;
        font-size: 25px;
	font-family: fira sans;

	color: #f5f5f5;
}
#cal_head{
position: relative;
 top: 25%;
}
#calorie_meter{
	height: 25%;
	background: #27ae60;
	box-shadow: 0px 8px 5px 4px black;
	color: #f5f5f5;
}
#container_cal{
	height: 100%;
	width: 100%;
	background-color:#e0e0e0;
	
}

#scroll{
	width: 102%;
	height:90%;
	overflow:scroll;
	
 }
@media screen and (max-width: 640px) {

}

#detail_btn {
	position: absolute;
	height: 8%;
	top: 90%;
	background: #43a047;
	color: #e0e0e0;
	-moz-border-radius: 100px;
	border: 1px solid;
	border-radius: 10px;
	box-shadow: 0px 1px 5px 1px grey;
	left: 10%;
	width: 80%;
        font-size: 25px;
}

#go_back {
	position: absolute;
	height: 8%;
	top: 90%;
	background: #43a047;
	color: #e0e0e0;
	-moz-border-radius: 100px;
	border: 1px solid;
	border-radius: 10px;
	box-shadow: 0px 1px 5px 1px grey;
	left: 10%;
	width: 80%;
        font-size: 25px;
}
/* Accordian Menu Start */

#accordion {
	list-style: none;
	padding: 0 50 0 0;
        margin-bottom: 25%;
	width: 97%;
         vertical-align: middle;
}

#accordion li{

	display: block;
	background-color: white;
	font-weight: Normal;
	margin-left: 1.5%;
	margin-top:1%;
	color: #9e9e9e;
	height: 8%;
	cursor: pointer;
	font-size: 25px;
	padding: 5 50 5 35px;
	box-shadow: 0px 1px 2px 0px grey;
        vertical-align: middle;
}
#accordion ul {
	list-style: none;
	display: none;
         vertical-align: middle;
}
#accordion ul li{
	font-weight: normal;
	height: 5%;
	font-size: 20px;
	margin-left: 0.5%;
       
	cursor: auto;
	margin:0;
        margin-top: 0.7%;
	background-color: #eee;
	color: #717171;
	list-style: circle;
        box-shadow: 0px 1px 0px 0.5px grey;
}
#accordion a {
	text-decoration: none;
         vertical-align: middle;
}
#accordion a:hover {
	text-decoration: underline;
         vertical-align: middle;
}
#exmpl {
        font-weight: 300;
        color: #9e9e9e;
        
}
/* Accordion Menu End */

#cal_sel{
	height: 60%;
	font-size: 70px;
}

#home_screena{
	background-color: #e0e0e0 ;
	width: 100%;
	
}

#header{
	height:10%;
	background: #1e88e5;
	box-shadow: 0px 1px 5px 1px #000;
	color: #f5f5f5;
	text-indent: 5%;
	vertical-align: center;
	font-size: 35px;
        font-family: fira sans;
        
}

#poshanbhumi{
position: relative;
top: 10%;
}
#container{
	height:80%;
	width: 100%;

}

#footer{
	height:10%;
	background: #1e88e5 !important;
	box-shadow: 0px 1px 5px 1px #000;
}
#icons{
	top: 10%;
	height: 80%;
}
#calc{  
	height: 72%;
	width: auto;
}
#calc1{
	height: 72%;
	width: auto;
}
#calc2{
	position: relative;
	bottom: 40%;
	height: 72%;
	width: auto;
}
